Chapter_4/__pycache__/test_vsearch.cpython-39.pyc
.vscode/settings.json
.vscode/settings.json
todos.txt
Chapter_6/todos.txt
Chapter_6/vsearch.log
vsearch.log
Chapter_6/Pipfile
Chapter_6/.vscode/settings.json
Chapter_6/.vscode/settings.json
