Chapter_4/__pycache__/test_vsearch.cpython-39.pyc
.vscode/
.vscode/settings.json
todos.txt
Chapter_6/todos.txt
Chapter_6/vsearch.log
vsearch.log
Chapter_6/Pipfile
Chapter_6/.vscode/settings.json
Chapter_6/.vscode/settings.json
/home/hkumar/Code/headfirst_python/Chapter_6/.vscode/
/home/hkumar/Code/headfirst_python/Chapter_6/.vscode/settings.json

/Chapter_6/.vscode/
Chapter_6/__pycache__/vsearch4web.cpython-39.pyc
Chapter_7/todos.txt
Chapter_7/vsearch.log
